/* RAZ CSS */

html, body, div, span, applet, object, iframe,
, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 

body 
{
	line-height: 1;
}


blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }



/* CORPS DU SITE */

@media all and (min-width : 200px ) and (max-width: 1500px)
{
    html
    {
        width: 100vw ;
        margin: 0 ;
    }
        header
    {
        display: flex ;
        flex-direction: column ;
        justify-content: center;
        width: 100%;
    
    }

    .lien 
    {
        display: flex ;
        align-content: center ;
        width: 50% ;
    }

    .lien > a
    {
        color: rgb(28,87,120);
        text-decoration: none ;
        font-family: 'Abel' ;

    }

    .lien > a:hover
    {
        color: rgb(32, 189, 228) ;
    }

    .page
    {
        width: 100% ;
    }

    body
    {
        margin: 0% ;
        width: 100% ;
    }
}

/* BANDEAU  */

@media all and (min-width : 200px ) and (max-width: 1500px)
{
    .bande
    {
        background-image: url(image/bandeau2.jpg) ;
        background-repeat: no-repeat ;
        width: 100vw ;
        height: 65vh ;
        box-shadow: inset 0 0 10px #000000;
        margin: 0% ;
    }

      /* aside formulaire */
    
    
      .gris
      {
          display: flex ;
          justify-content: space-between ;
          align-items: center ;
          background-color: rgba(219, 219, 219, 0.3) ;
          width: 100% ;
          height: 65% ;
          position: absolute ;
          z-index: 2 ;
      }
      
      .flou
      {
          background: url(image/bandeau2.jpg);
          background-repeat: no-repeat ;
          filter: blur(3px) ;
          width: 100% ;
          height: 100% ;
          z-index: 1 ;
      }
      
      h1
      {
          font-family: 'Cabinr' ;
          text-align: center ;
          font-size: 1em ; 
          color: rgb(28,87,120);
      }
      
      .gamme
      {
          display: flex ;
          align-self: flex-start ;
          justify-content: flex-start ;
          flex-direction: column ;
          width:100vw;
          height:65vh;
          padding-top: 3% ;
          padding-left: 3% ;
      }

      .titre
      {
        font-family: 'Cabinr' ;
        text-align: center ;
        font-size: 1em ; 
        color: rgb(28,87,120);
      }
}

/* FORMULAIRE */

@media all and (min-width : 1024px ) and (max-width: 1500px)
{
    
        .boutons
    {
        display: flex ;
        flex-direction: column ;
        align-items: center;
        margin-right: 0% ;
        width: 90%;
        position: absolute ;
        right: 60px;
    }

    .boutons > p
    {
        text-align: center ;
        font-family: 'Abel' ;
        font-size: 1.3em ;
        margin: 15px ;
    }

    select
    {
        color: rgb(28,87,120);
        font-family: 'cabinr' ;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border: white ;
        font-size: 1em;
        border-radius:10px;
        cursor: pointer;
    }

    .liste
    {
        position: absolute;
        left: -120%;
        top: 20% ;
        width: 30% ;
        padding-bottom: 2% ;
        padding-left: 2% ;
        margin: 0% ;
        border-radius: 20px;
    }

    option
    {
        color: rgb(3, 3, 3);
    }

    input
    {
        color: rgb(28,87,120);
        font-family: 'cabinr' ;
        font-size: 1em;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:10px;
        border: white ;
        cursor: pointer;
    }
}

/* MENU BURGUER */


@media all and (min-width : 200px ) and (max-width: 1500px)
{
    .indic
    {
        font-family: 'Cabinb' ;
        font-size: 1.1em ; 
        color: rgb(28,87,120);
        width: 20% ;
        margin-left : 2px ;
        margin-top: 0 ;
    }
    
    
    .voiture
    {
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:50%;
        width: 400px;
        height: 400px;
        cursor: pointer ;
    }
    
    
    .fermer
    {
        cursor: pointer;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:50%;
        height: 100%;
        width: 100% ;
        display: flex ; 
        justify-content: center;
        text-align: center ;
        align-items: center ;
    }
    
    .fermer > p
    {
        color: rgb(28,87,120);
        z-index: 6;
        width: 70% ;
        height: 70% ;
        margin: 0% ;
        display: flex ; 
        justify-content: center;
        align-items: center ;
        font-family: 'Cabinb' ;
    }
    
    .cache
    {
        display: none ;
    }
    
    ul
    {
        list-style-type: none;
        background-color: white ;
        width: 95% ;
       
    }
    
    ul > p
    {
        color: rgb(28,87,120);
        font-size: 15px ;
        margin: 3% ;
    }
    
    
    
    li > a 
    {
        color: rgb(0, 0, 0);
        transition: color 0.3s ease;
        font-size: 12px ;
        text-decoration: none ;
    }
    
    li > a:hover
    {
        color: rgb(28,87,120);
    }
}

@media all and (max-width: 1600px)
{
    .scene 
{
    width: 100px;
    height: 60px;
    perspective: 600px;
}



.croix
{
    font-size: 20px ;
}
  
  .card 
{
    width: 50px;
    height: 50px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped 
  {
    transform: rotateY(180deg);
  }
  
  .card__face 
  {
    position: absolute;
    width: 50px;
    height: 50px;
    color: rgb(28,87,120);
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    backface-visibility: hidden;
  }
  
  
  .card__face--back 
  {
    background: rgb(251, 251, 251);
    transform: rotateY(180deg);
  }
}

/* SECTION BAS DE PAGE */

@media all and (min-width : 200px ) and (max-width: 1500px)
{
    .section
    {
        display: flex ;
        flex-wrap: wrap ;
        width: 100% ;
       
    }
    .service
    {
        display: flex ;
        flex-wrap: wrap ;
        width: 100% ;
        padding: 0%;
    }
    
    .image
    {
        width: 140px ;
        height: 140px;
    }

    
    a > img
    {
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:50%;
        height: 140px;
    }
}


/* FORMULAIRE TEL */

@media all and (min-width : 600px ) and (max-width: 1024px)
{
    
        .boutons
    {
        display: flex ;
        justify-content: center ;
        flex-direction: column ;
        align-items: center;
        width: 70%;
        height: 60vh;
        position: absolute ;
        right:100px;
        margin : 0 ;
    }

    .boutons > p
    {
        text-align: center ;
        font-family: 'Abel' ;
        font-size: 1em ;
        margin: 15px ;
    }

    select
    {
        color: rgb(28,87,120);
        font-family: 'cabinr' ;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border: white ;
        font-size: 15px;
        border-radius:10px;
        cursor: pointer;
    }

    .liste
    {
        position: absolute;
        left: -120%;
        top: 20% ;
        width: 40% ;
        padding-bottom: 2% ;
        padding-left: 2% ;
        margin: 0% ;
        border-radius: 20px;
    }

    option
    {
        color: rgb(3, 3, 3);
    }

    input
    {
        color: rgb(28,87,120);
        font-family: 'cabinr' ;
        font-size: 15px;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:10px;
        border: white ;
        cursor: pointer;
    }

  
   
}

/* SITE TEL */
@media all and (max-width: 600px)
{
    .tete
    {

        width: 100%;
    }

    .logo1
    {
        width: 50px ;
        height: 50px;
    }

    .logo2
    {
        width: 150px ;
        height: 50px;
    }

    .lien 
    {
        display: flex ;
        align-content: center ;
        width: 50% ;
    }

    .lien > a
    {
        color: rgb(28,87,120);
        text-decoration: none ;
        font-family: 'Abel' ;

    }

    .liste
    {
        position: absolute;
        left: -120%;
        top: 20% ;
        width:60% ;
        padding-bottom: 2% ;
        padding-left: 2% ;
        margin: 0% ;
        border-radius: 10px;
    }

    .boutons
    {
        display: flex ;
        justify-content: center ;
        flex-direction: column ;
        align-items: center;
        width: 60%;
        height: 60vh;
        position: absolute ;
        right: 80px;
        margin : 0 ;
    }

    .boutons > p
    {
        text-align: center ;
        font-family: 'Abel' ;
        font-size: 15px ;
        margin: 15px ;
        width: 100% ;
    }

    select
    {
        color: rgb(28,87,120);
        font-family: 'cabinr' ;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border: white ;
        font-size: 12px;
        border-radius:10px;
        cursor: pointer;
    }


    input
    {
        color: rgb(28,87,120);
        font-family: 'cabinr' ;
        font-size: 12px;
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:10px;
        border: white ;
        cursor: pointer;
        width: 45% ;
    }

    .gris
    {
        display: flex ;
        justify-content: space-between ;
        align-items: center ;
        background-color: rgba(219, 219, 219, 0.3) ;
        width: 100% ;
        height: 65% ;
        position: absolute ;
        z-index: 2 ;
    }
    

    /* SECTION BAS DE PAGE */

    .section
    {
        display: flex ;
        flex-direction: column ;
        width: 100vw ;
       
    }
    .service
    {
        display: flex ;
        flex-wrap: wrap ;
        width: 100% ;
        padding: 0%;
    }
    
    .image
    {
        width: 140px ;
        height: 140px;
    }

    
    a > img
    {
        box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
        border-radius:50%;
        height: 140px;
    }
}



