/* RAZ CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 

body 
{
	line-height: 1;
}


blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }


@font-face
{
    font-family: 'Abel' ;
    src: url('Typo/MKAbel.ttf') format('truetype') ;
}


@font-face
{
    font-family: 'Cabinb' ;
    src: url('Typo/Cabin-Bold.ttf') format('truetype') ;
}


@font-face
{
    font-family: 'Cabinr' ;
    src: url('Typo/Cabin-Regular.ttf') format('truetype') ;
}



/* haut de page */

header
{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    width: 100vw;
  
}

.lien 
{
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;
    width: 15% ;
}

.lien > a
{
    color: rgb(28,87,120);
    text-decoration: none ;
    font-family: 'Abel' ;
}

.lien > a:hover
{
    color: rgb(32, 189, 228) ;
}

.page
{
    width: 100vw ;
}

body
{
    margin: 0% ;
}

@media all and (min-width : 200px ) and (max-width: 1520px)
{
    html
    {
        width: 100vw ;
        margin: 0 ;
    }
        header
    {
        display: flex ;
        flex-direction: column ;
        justify-content: center;
        width: 100%;
    
    }

    .lien 
    {
        display: flex ;
        align-content: center ;
        width: 50% ;
    }

    .lien > a
    {
        color: rgb(28,87,120);
        text-decoration: none ;
        font-family: 'Abel' ;

    }

    .lien > a:hover
    {
        color: rgb(32, 189, 228) ;
    }

    .page
    {
        width: 100% ;
    }

    body
    {
        margin: 0% ;
        width: 100% ;
    }
}

/* bandeau */


.bande
{
    background-image: url(image/bandeau2.jpg) ;
    background-repeat: no-repeat ;
    width: 100% ;
    height: 65vh ;
    box-shadow:         inset 0 0 10px #000000;
    margin: 0% ;
}


/* aside formulaire */


.gris
{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    background-color: rgba(219, 219, 219, 0.3) ;
    width: 40% ;
    height: 65% ;
    position: absolute ;
    z-index: 2 ;
}

.flou
{
    background: url(image/bandeau2.jpg);
    background-repeat: no-repeat ;
    filter: blur(3px) ;
    width: 40% ;
    height: 100%;
    z-index: 1 ;
}

h1
{
    font-family: 'Cabinr' ;
    text-align: center ;
    font-size: 2em ; 
    color: rgb(28,87,120);
}

.gamme
{
    display: flex ;
    align-self: flex-start ;
    justify-content: flex-start ;
    flex-direction: column ;
    width:50%;
    height:100%;
    padding-top: 3% ;
    padding-left: 3% ;
}



/* formulaire */


.boutons
{
    display: flex ;
    flex-direction: column ;
    align-items: center;
    margin-right: 5% ;
    width: 50%;
}

.boutons > p
{
    text-align: center ;
    font-family: 'Abel' ;
    font-size: 1.3em ;
    margin-top : 20px ;
    margin-bottom: 20px ;
}

select
{
    color: rgb(28,87,120);
    font-family: 'cabinr' ;
    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    border: white ;
    font-size: 1.3em;
    border-radius:10px;
    cursor: pointer;
}

option
{
    color: rgb(3, 3, 3);
}

input
{
    color: rgb(28,87,120);
    font-family: 'cabinr' ;
    font-size: 1.1em;
    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    border-radius:10px;
    border: white ;
    cursor: pointer;
}


/* menu burger */

.indic
{
    font-family: 'Cabinb' ;
    font-size: 1.1em ; 
    color: rgb(28,87,120);
    margin-top: 3% ;
    margin-left: 8% ;
    width: 20% ;
}


.voiture
{
    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    border-radius:50%;
    cursor: pointer ;
}


.fermer
{
    cursor: pointer;
    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    border-radius:50%;
    height: 100%;
    width: 100% ;
    display: flex ; 
    justify-content: center;
    text-align: center ;
    align-items: center ;
}

.fermer > p
{
    color: rgb(28,87,120);
    z-index: 6;
    width: 70% ;
    height: 70% ;
    margin: 0% ;
    display: flex ; 
    justify-content: center;
    align-items: center ;
    font-family: 'Cabinb' ;
}

.cache
{
    display: none ;
}



ul > p
{
    color: rgb(28,87,120);
    padding: 3px;
}

.liste
{
    position: absolute;
    z-index: 6;
    left: -120%;
    top: 22% ;
    width: 38% ;
    padding: 2% ;
    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    list-style-type: none;
    background-color: white ;
    border-radius: 20px;
}

li
{
    padding: 3px ;
}

li > a 
{
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    text-decoration: none ;
}

li > a:hover
{
    color: rgb(28,87,120);
}



/* card flip */

.scene 
{
    width: 30%;
    height: 17%;
    perspective: 600px;
}
  
  .card 
{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped 
  {
    transform: rotateY(180deg);
  }
  
  .card__face 
  {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(28,87,120);
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    backface-visibility: hidden;
  }
  
  
  .card__face--back 
  {
    background: rgb(251, 251, 251);
    transform: rotateY(180deg);
  }





/* partie services */

.titre
{
    font-family: 'Cabinr' ;
    text-align: center ;
    font-size: 2em ; 
    color: rgb(28,87,120);
    margin: 1% ;
}

.section
{
    display: flex ;
    flex-direction: column ;
}


.service
{
    display: flex ;
    justify-content: space-around ;
    flex-direction: row ;
    width: 99% ;
}


a > img
{
   
    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    border-radius:50%;
}



/* survol image */

.image
{
    position: relative;
    
}

.clic
{
    display: block ;
    width: 100% ;
    height: 95%;
}

.conteneur 
{
    opacity: 0;
}

.image:hover .conteneur
{
    opacity: 1;
}

.texte
{
   
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    transition: .5s ease;
    background-color: rgb(255, 255, 255);

    box-shadow: 0px 4px 10px rgb(95, 95, 95) ;
    border-radius:50%;
    width: 100% ;
    height: 100%;

}

.texte > p
{ 
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
}

#titrebleu
{
    padding-top: 35% ;
    color: rgb(28,87,120);
    font-size: 20px;
    text-align: center;
}